header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}


/* ************* CTA ************** */
.cta{
    margin-top: 2.5rem;
    justify-content: center;
    display: flex;
    gap: 1.2rem;
}

/* ************* HEADER SOCIALS ************** */
.header__socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* ************* Me ************** */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc( 50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


/* ************* Scroll Down ************** */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 400;
}


/* ********************* MEDIA QUERIES*********************** */

@media screen and (max-width: 1024px) {
    header{
        height: 100vh;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
  
    .header__socials,
    .scroll__down{
      display: none;
    }
  }

  @media screen and (max-width: 300px) {
    header{
        width: 390px;
        height: 130vh;
    }
  }